@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Titillium+Web&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Noto+Serif:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Titillium+Web&display=swap");

/* CORES */
:root {
    --vermelho: #bd0b0c;
    --cinza: #cfd4de;
    --preto: #0c0b10;
}

/* RESET CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    font-family: "Roboto";
}

/* UTILS */

.title-page {
    font-size: 1.65em;
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    border-left: 10px solid #ffcc01;
    color: rgb(65, 65, 65);
    background: #ffcc011a;
}

/* APP */
div.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HEADER */
div.logo-container {
    display: flex;
    align-items: center;
    padding: 20px 0;
    justify-content: center;
}

div.logo-container {
    margin: 0 auto;
    width: 130px;
}

div.logo-container img {
    width: 100%;
}

div.header-fita {
    display: block;
    height: 5px;
    width: 100%;
}

div.fita-azul {
    background: #3264b0;
}

div.fita-amarela {
    background: #ffcc01;
}

/* POKEBALL */

section.pokeball {
    position: relative;
    width: 100%;
}

.centro-pokeball {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    border: 20px solid var(--preto);
    transform: translate(-50%, -50%);
}

div.pokeball-vermelho,
div.pokeball-cinza {
    height: 100px;
}

div.pokeball-vermelho {
    background: var(--vermelho);
}

div.pokeball-preto {
    background: var(--preto);
    height: 35px;
}

div.pokeball-cinza {
    background: var(--cinza);
}

/* PRINCIPAL */
main.principal {
    flex: 1;
    margin: 20px 15px;
}

/* POKEMONS CONTAINER */
div.pokemons-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

div.card-pokemon {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    flex: 1;
    height: 450px;
    min-width: 275px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
        rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
        rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

div.box-img {
    position: relative;
    height: 220px;
    border-radius: 10px 10px 0 0;
    background: tomato;
}

img.img-poke {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 175px;
    top: 50%;
}

div.loading-blackout p {
    font-weight: bold;
    font-size: 1.5em;
}

div.loading-blackout p.loading-pikachu {
    font-size: 1em;
    color: rgb(51, 51, 51);
}

div.loading-blackout img {
    width: 150px;
}

div.loading-blackout {
    z-index: 1000000000;
    height: 100%;
    width: 100%;
    background: white;
    border: 3px solid yellow;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}

div.infos-pokemon {
    flex: 1;
    padding: 25px;
}

p.tipo {
    font-family: "Noto Serif", serif;
    text-align: center;
    color: #afafaf;
}

p.nome-pokemon {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    color: rgb(41, 41, 41);
}

div.box-stats {
    width: 100%;
    padding: 15px 0;
    border-radius: 0 0 10px 10px;
    color: rgb(236, 236, 236);
    background: tomato;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

div.hp {
    border-left: 1px solid grey;
}

.title-stat {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: capitalize;
}

div.box-stats svg,
div.box-stats div.hp-value {
    font-size: 1.3em;
}
